@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    //fonts
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-regular: normal;
  --font-italic: italic;
  --font-light: 300;
  --font-light-italic: 300 italic;
  --font-semi-bold: 600;
  --font-semi-bold-italic: 600 italic;
  --font-bold: 700;
  --font-bold-italic: 700 italic;
  --font-extra-bold: 800;
  --font-extra-bold-italic: 800 italic;
    //colors
  --red-lightest: #E8ABAA;
  --red-lighter: #E08C8A;
  --red-light: #D76D6B;
  --red-medium: #CF4D4B;
  --red-dark: #C62E2B;
  --red-darker: #A82725;
  --red-darkest: #8B201E;

  --blue-lightest: #859EB7;
  --blue-lighter: #6D8BA9;
  --blue-light: #55779A;
  --blue-medium: #24507D;
  --blue-dark: #0C3D6E;
  --blue-darker: #0A345E;
  --blue-darkest: #082B4E;

  --gray-lightest: #DEDEDE;
  --gray-lighter: #C4C4C4;
  --gray-light: #B0B0B0;
  --gray-medium: #9D9D9D;
  --gray-dark: #7C7C7C;
  --gray-darker: #696969;
  --gray-darkest: #575757;  

  --white: #fafafa;
  --black: #000000;
}

